@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1>Little C# Quiz and GUI with ASP.NET Test</h1>
    
   
    @foreach (var q in ViewData["QuestionArr"] as IList<Question>)
    {
        <p>
            @q.question
        </p>
        <input type="radio" value="t" name=@q.name><label for="question1T">True</label>
        <input type="radio" value="f" name=@q.name><label for="question1F">False</label>
    }
    <br>
    <input id="button" type="submit" value="submit">
    <p id="numCorrect1"> </p>
</div>
